node_modules
.git
.gitignore
.env
.DS_Store
npm-debug.log
.vscode
.vscode-test
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
coverage
dist
build
*.tgz
*.lock
README.md
Dockerfile
.dockerignore